@import "tailwindcss";

@theme {
  --color-night: #020617;
  --color-mountain: #0F172A;
  --color-snow: #F8FAFC;
  --color-sunrise: #F59E0B;
  --color-campfire: #EA580C;
  --color-ice: #38BDF8;
  
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

:root {
  --background: #020617; /* Night Sky */
  --foreground: #F8FAFC; /* Snow */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display), sans-serif;
}

/* Lenis Recommended Styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Hide scrollbar for activity grid */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
